@import '~@fluentui/react/dist/sass/References.scss';

.weatherApi{
  padding: 20px;
  background-color: hsl(0, 17%, 86%);
  border-radius: 5px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  flex: 1;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.weatherinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: bold;
  color:aliceblue
}

.weathericon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.weatherdescription {
  font-size: 16px;
}

.weathertemperature {
  font-size: 24px;
  font-weight: bold;
}

.temperatureicon {
  font-size: 24px;
  margin-right: 5px;
}

.degreeicon {
  font-size: 16px;
  vertical-align: middle;
}
.icon {
  color:black;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; /* Adjust the spacing between the icon and text */
  /* Add any additional styles for the icon */
}